@import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    font-family: Capriola, Helvetica, sans-serif;
}
#cssmenu {
    width: auto;
    height: 45px;
    padding-bottom: 7px;
}
#cssmenu.align-right {
    float: right;
}
#cssmenu.align-right ul li {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
    height: 10px;
    background: #CECECE;
}
#cssmenu #bg-two {
    height: 45px;
    z-index: 2;
}
#cssmenu #bg-three {
    bottom: 4px;
    height: 45px;
    z-index: 3;
    background: #222222;
    background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
    background: -o-linear-gradient(top, #555555 0%, #222222 100%);
    background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
    background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
    bottom: 4px;
    height: 45px;
    z-index: 4;
}
#cssmenu ul {
    height: 45px;
}
#cssmenu ul .liclass {
    float: left;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul .liclass2 {
    padding: 20px 30px 20px 30px;
    float: right;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}
#cssmenu ul li label{
    color: #aaaaaa;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
}
#cssmenu ul li a {
    padding: 20px 30px 20px 30px;
    margin-bottom: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #eeeeee;
    font-size: 15px;
    text-decoration: none;
}
#cssmenu ul li:first-child,
#cssmenu ul li:first-child > a {
    border-bottom-left-radius: 3px;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
    color: #888888;
}
#labelhover:hover{
    cursor: pointer;
}
.error2{
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: red;text-align: center;
}